mixin icon($data)
  case $data
    when 'logo'
      include ../svg/logo.svg
    when 'logo2'
      include ../svg/logo2.svg
    when 'arrowpag'
      include ../svg/arrowpag.svg
    when 'ig'
      include ../svg/ig.svg
    when 'fb'
      include ../svg/fb.svg
    when 'gg'
      include ../svg/gg.svg
    