include ./mixins.pug
.ldr
  .ldr_box
    .ldr_t

//- .CKgrid
//-   .CKgrid_col
//-   .CKgrid_col
//-   .CKgrid_col
//-   .CKgrid_col
//-   .CKgrid_col
//-   .CKgrid_col
  //- .CKgrid_col
  //- .CKgrid_col
  //- .CKgrid_col
  //- .CKgrid_col
  //- .CKgrid_col
  //- .CKgrid_col