include ./basic/mixins.pug
main.page(skin="legal")
  section.CMP.page_intro(data-cmp="intro" style="position:relative;min-height:100vh;")
    .grid-vw
      h1.tt1 POLÍTICA DE Privacidad 
    .grid-vw-s
      .wysi.tx
        p Nuestra <i>historia empieza a escribirse</i> hace más de 30 años, una pasión que se ha ido pasando de generación en generación en una familia que se inició en la realización de objetos artesanales con los métodos más tradiciones, herramientas manuales y elementos de la naturaleza sostenibles.

        p De la mano de <strong>Pedro Amaya Stewart</strong>, hoy en día Amaya Design se ha convertido en una empresa moderna que mantiene la esencia de los inicios combinado con la incorporación de nuevas técnicas y nuevos materiales. Nos dirigimos a un perfil de cliente conocedor de las tendencias y las necesidades actuales, sin descuidar el detalle de convertir cada pieza en algo único.

        h2 Diseño, artesanía y responsabilidad.

        p Apostamos por un método de trabajo y de producción que sea respetuoso con el medio ambiente, y todos nuestros proyectos se llevan a cabo de forma totalmente personalizada, y adaptándonos a las necesidades de cada cliente.

        p Seleccionamos los materiales con los que trabajamos de forma meticulosa, trabajando siempre como proveedores nacionales y de proximidad. De esta forma nos aseguramos poder conocer la procedencia, la calidad y el grado de responsabilidad con los que trabaja cada uno de nuestros proveedores.

 
 
      .social 
        .btns 
          a(href="#")
            +icon('ig')
          a(href="#")
            +icon('fb')
          a(href="#")
            +icon('gg')
        .tx-l 
          p amayadesign

  +footer