section.guide_grids
  .grid
    h1.h1(data-split="words:{wrap:clip}") Grid, no Cols, centered
    .wysi
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iste, quis in odit atque quibusdam autem sapiente esse ab voluptatem sunt dolore corrupti vitae fugiat aperiam error neque suscipit sed doloremque consequatur consequuntur ducimus quisquam blanditiis! Optio, reprehenderit vel. Perspiciatis!

  .gridcl
    .cl12
      h1.h1(data-split="words:{wrap:true}") Grid, with Cols, centered
      .wysi
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iste, quis in odit atque quibusdam autem sapiente esse ab voluptatem sunt dolore corrupti vitae fugiat aperiam error neque suscipit sed doloremque consequatur consequuntur ducimus quisquam blanditiis! Optio, reprehenderit vel. Perspiciatis!

  .grid-vw 
      h1.h1 Grid, no Cols, Full
      .wysi
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iste, quis in odit atque quibusdam autem sapiente esse ab voluptatem sunt dolore corrupti vitae fugiat aperiam error neque suscipit sed doloremque consequatur consequuntur ducimus quisquam blanditiis! Optio, reprehenderit vel. Perspiciatis!

  .gridcl-vw 
    .cl12
      h1.h1 Grid, with Cols, Full
      .wysi
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iste, quis in odit atque quibusdam autem sapiente esse ab voluptatem sunt dolore corrupti vitae fugiat aperiam error neque suscipit sed doloremque consequatur consequuntur ducimus quisquam blanditiis! Optio, reprehenderit vel. Perspiciatis!