section.guide_intro
    
    .parallaxs
      .screenH
        h2.h1 Height Check for Wide Ratios
      +media(
            [
        'ass'=> $imvid_0,
        'lazy'=>0,
        'res'=>$res,'predev'=>$predev,
        'auto'=>'yes',
        'class'=>'im1 im',
        ]
      )
      +media(
            [
        'ass'=> $imvid_0,
        'lazy'=>1,
        'res'=>$res,'predev'=>$predev,
        'auto'=>'yes',
        'class'=>'im2 im',
        ]
      )
      +media(
            [
        'ass'=> $iresp_0,
        'lazy'=>0,
        'res'=>$res,'predev'=>$predev,
        'auto'=>'yes',
        'class'=>'im3 im',
        ]
      )
      +media(
            [
        'ass'=> $imvidb_0,
        'lazy'=>1,
        'res'=>$res,'predev'=>$predev,
        'auto'=>'yes',
        'class'=>'im4 im',
        ]
      )