/* 🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧🔧 */

@import '@style/base🔧/controlscreen.pcss';

@import '@style/base🔧/reset.pcss';
@import '@style/base🔧/generics.pcss';
@import '@style/base🔧/♿.pcss';
@import '@style/base🔧/guides.pcss';


/* 🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪🪪 */

@import '@style/theme/SLL.pcss';
@import '@style/theme/fonts🔤.pcss';
@import '@style/theme/main🫀.pcss';
@import '@style/theme/grid.pcss';

@import '@style/theme/ANM.pcss';
@import '@style/theme/wysi.pcss';



/* 🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿🧿 */

@import '@atoms/aBtn.pcss';


/* 🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾🦾 */

@import '@comps/FRM📋/FRM.pcss';
@import '@comps/vidClick📽️/vidClick.pcss';
@import '@comps/ldr⏳/LDR.pcss';
@import '@comps/Nav🌤️/NAV.pcss';
@import '@comps/Footer🔥/FOOT.pcss';



/* 🟠🔴🔵🟢🟣🟡⚪⚫🟤 */

@import '@views/⚪home/0intro/homeintro.pcss';
@import '@views/⚪home/1txt/hometxt.pcss';
@import '@views/⚪home/2cols/homecols.pcss';
@import '@views/⚪home/3projs/homeprojs.pcss';

@import '@views/🔵about/0intro/aboutintro.pcss';
@import '@views/🔵about/1cols/aboutcols.pcss';
@import '@views/🔵about/2quien/aboutquien.pcss';


@import '@views/🟣legal/0intro/legalintro.pcss';
