mixin icon($data)
  case $data
    when 'CSSK'
      include ../svg/csskiller.svg
    when 'logo'
      include ../svg/logo.svg
    when 'check'
      include ../svg/check.svg
    when 'triangles'
      include ../svg/triangles.svg
    when 'arrow'
      include ../svg/arrow.svg
    when 'arrow-down'
      include ../svg/arrow-down.svg
    when 'footer'
      include ../svg/footer.svg