include ./mixins.pug

nav.nav
  .nav_head.grid-vw
    a.nav_logo(href=$ops['base'])
      +icon('logo')
    button.nav_brg 
      .in
        .line 
        
    .nav_menu
      a.aBtnS.nav_menu_op.grt(href=$ops['homeid']['url'] aria-label="Inicio")
        span.r Inicio
        span.c Inicio
      a.aBtnS.nav_menu_op.grt(href=$ops['aboutid']['url'] aria-label=$ops['aboutid']['title'])
        span.r!=$ops['aboutid']['title']
        span.c!=$ops['aboutid']['title']
      a.aBtnS.nav_menu_op.grt(href=$ops['whatid']['url'] aria-label=$ops['whatid']['title'])
        span.r!=$ops['whatid']['title']
        span.c!=$ops['whatid']['title']
      a.aBtnS.nav_menu_op.grt(href=$ops['whoid']['url'] aria-label=$ops['whoid']['title'])
        span.r!=$ops['whoid']['title']
        span.c!=$ops['whoid']['title']
      a.aBtnS.nav_menu_op.grt(href=$ops['colaboraid']['url'] aria-label=$ops['colaboraid']['title'])
        span.r!=$ops['colaboraid']['title']
        span.c!=$ops['colaboraid']['title']


svg(width="0" height="0" style="position:absolute;left:0;top:0;pointer-events:none;overflow:visible;")
  defs
    clipPath(id="clipBlob" clipPathUnits="objectBoundingBox")
      path(d="M0.9143 0.5000 C1.0285 0.3860 1.0285 0.2014 0.9143 0.0875 C0.8007 -0.0264 0.6148 -0.0264 0.5003 0.0875 C0.3869 -0.0264 0.2018 -0.0264 0.0877 0.0875 C-0.0265 0.2014 -0.0265 0.3860 0.0877 0.5000 C-0.0265 0.6137 -0.0265 0.7986 0.0877 0.9123 C0.2018 1.0265 0.3869 1.0265 0.5003 0.9123 C0.6148 1.0265 0.8007 1.0265 0.9143 0.9123 C1.0285 0.7986 1.0285 0.6137 0.9143 0.5000 Z")
