include ./basic/mixins.pug
.VIU(data-skin="home").home

  
  
  main
    section.home_intro 
      .hold
        .bg 
          +media(
            [
              'ass'=> $imvid_0,
              'lazy'=>0,
              'res'=>$res,
              'auto'=>'yes'
            ]
          )
        .info 
          h1.h1(data-split="lines:{wrap:clip|clone:bottom}|words:false")!=$title_0
          .txt(data-split="lines:{wrap:clip|clone:bottom}|words:false")!=$text_0

          .aScr
            i.aScr_i 
              +icon('arrow-down')
            span.aScr_t.grt SABER MÃS


    section.home_txt 
      .grid-vw 
        h2.h2!=$title_1
        h3.capt-l!=$titleb_1
        .wysi!=$wysi_1
        if $link_1
          a.aBtn(href=$link_1['url'] aria-label=$link_1['title'])
            .aBtn_t
              span.r!=$link_1['title']
              span.c!=$link_1['title']
            i.aBtn_i 
              +icon('arrow')
    
    section.home_cols 
      .grid-vw 
        .im 
          
          
          +media(
            [
              'ass'=> $img_2,
              'lazy'=>1,
              'res'=>$res,
              'auto'=>'yes',
              'target'=>'.home_cols'
            ]
          )

        .info
          h2.h2!=$title_2
          .tx!=$text_2

          h3.p
            strong!=$titleb_2
          ul 
            each $a in $rep_2
              li!=$a['text']

          if $link_2
            a.aBtn(href=$link_2['url'] aria-label=$link_2['title'])
              .aBtn_t
                span.r!=$link_2['title']
                span.c!=$link_2['title']
              i.aBtn_i 
                +icon('arrow')

    section.home_projs 
      .grid-vw 
        h2.h2!=$title_3

        .splide.projs(data-type="slide" data-focus="left")
          .splide__track 
            .splide__list 
              each $a in $rep_3
                .splide__slide.projs_el
                  .projs_el_im 
                    +media(
                      [
                        'ass'=> $a['img'],
                        'lazy'=>1,
                        'res'=>$res,
                        'auto'=>'yes'
                      ]
                    )

                  .projs_el_info
                    h3.h3!=$a['title']
                    .h3.loc!=$a['loc']
                    .h3.year!=$a['year']
                    h4.capt-s!=$a['title2']
                    .p-s!=$a['text']
        if $link_3

          a.aBtn(href=$link_3['url'] aria-label=$link_3['title'])
            .aBtn_t
              span.r!=$link_3['title']
              span.c!=$link_3['title']
            i.aBtn_i 
              +icon('arrow')






  +footer




    //- include ./guides/parallax.pug
    //- include ./guides/posts.pug
    //- include ./guides/grids.pug
    //- include ./guides/respmedia.pug
    //- include ./guides/uikit.pug
    //- include ./guides/forms.pug
      

      

