include ./basic/mixins.pug
.VIU(data-skin="home").home
  main
    h2.h1(data-split="lines:{wrap:clip|clone:bottom}|words:false") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum exercitationem assumenda ducimus facilis placeat omnis reprehenderit sunt ipsam in eaque. Atque quae totam velit possimus voluptates odio excepturi consequuntur vero?

    //- include ./guides/parallax.pug
    //- include ./guides/posts.pug
    //- include ./guides/grids.pug
    include ./guides/respmedia.pug
    //- include ./guides/uikit.pug
    //- include ./guides/forms.pug
      

      

