.quien{
  &_txt{
    padding-top: 7.6rem;
    padding-bottom: 5.4rem;



    .grid-vw{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .p-l{
        max-width: 64rem;
      }

     
    }


    
  }
}

